.container{
    display: flex;
}
.container div{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    margin: 10px;
}